@font-face {
  font-family: Metrickal;
  src: url(./Metrickal-Regular.otf);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Metrickal, monospace;
}

.layout {
  display: flex;
  flex-direction: column;
  width: 800px;
  background: #000;
}

.messageLog ul::-webkit-scrollbar {
  display: none;
}